.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#octopus{
  position: relative;
  top: 200px;
}

#hat{
  position: relative;
  bottom: 200px;
  left: 10px;
}

#glasses{
  position: relative;
  top: 12px;
  left: 4px;
}
